<div class="row">
	<h3>EDIT USER({{stdId}})</h3>
	
</div>
<div class="row">
	<div class="col-xs-6">
		<label>Title</label>
	</div>
	<div class="col-xs-6">
		<input type="text" ng-model="student.title" name="title" class="form-control" />
		<input type="text" ng-model="student.ID" ng-hide="true" name="title" class="form-control" />
	</div>
</div>
<div class="row">
	<div class="col-xs-6">
		<label>Description</label>
	</div>
	<div class="col-xs-6">
		<textarea ng-model="student.description" name="title" class="form-control"></textarea>
	</div>
</div>